<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoBlogger</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
        <li class="nav-item" style="list-style-type: none;">
          <a class="button" href="/archive" class="nav-link px-2">
            Archive
          </a>
        </li>
        <h1>AutoBlogger</h1>
        <h3>The Daily Blogger, No Human Required</h3>
        <h4 class="titleboxed">
          <%= blog.title %><br>
          Date:
          <%= blog.date %><br>
        </h4>
        <p class="boxed">
          Author:
          <%= blog.author %><br><br>
          Email:
          <%= blog.email %><br><br><br>
          <img src="<%= picture %>" alt="No image" style="float: right;" width="<%= blog.imageWidth %>" height="<%= blog.imageHeight %>">
          <%= blog.article %>
        </p>
    </main>
  </body>
</html>
